*{
    
}

body{
    background-color: rgb(188, 219, 247);
}

.heading{
    color: white;
}

.rect{
    display: flex;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 150px;
    display: flex;
    border: 10px;
    justify-content: center;
    background-color: white;
    height: 400px;
    border-radius: 4%;
    box-shadow: 6px 6px 10px rgb(66, 66, 66);
}

a{
    color:rgb(113, 183, 245);
}

.main-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1;
}

img{
    display: flex;
    width: 150px;
    height: 160px;
    margin-top: 50px;
    border-radius: 50%;
    align-self: center;
}

.left{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

h1{
    margin-left: 30px;
}